<section id="about" class="content">
    <h2>About</h2>
    <p>I am a graduate student completing my master's in computer science, with a minor in cybersecurity, at VIT
        Bhopal University in India. I did my master's thesis under the mentorship of <a href="https://binarywhales.com/"
            target="_blank">Matteo Campanelli</a>. This
        summer, I'm at CISPA as a research assistant, hosted by <a href="https://doreenriepel.me/"
            target="_blank">Doreen Riepel</a>.</p>
</section>