<section id="experience" class="content">
    <h2>Research Experience</h2>

    <div class="mdc-card">
        <div class="mdc-card__content">
            <h3>Research Assistant</h3>
            <p><strong>CISPA Helmholtz Center for Information Security</strong> | June 2025 - September 2025</p>
            <p><strong>Supervisor:</strong> <a href="https://doreenriepel.me/" target="_blank">Doreen Riepel</a></p>
        </div>
    </div>

    <div class="mdc-card">
        <div class="mdc-card__content">
            <h3>Research Intern</h3>
            <p><strong>SECURE--Centre of Excellence in Cyber Security</strong> | November 2021 - October 2023</p>
            <p><strong>Supervisor:</strong> <a href="https://in.linkedin.com/in/sks1809" target="_blank">Shishir Kumar
                    Shandilya</a></p>
        </div>
    </div>
</section>