{% extends "layouts/base.html" %} {% block title %}{{ data.profile.name }}{% endblock title %} {% block content %}
<section class="shell home-grid" id="home">
  {% include "sections/profile.html" %}
  <div class="main-copy">
    {% include "sections/about.html" %} {% include "sections/publications.html" %} {% include "sections/teaching.html"
    %} {% include "sections/service.html" %} {% include "sections/talks.html" %} {% include "sections/notes.html" %} {%
    include "sections/references.html" %}
  </div>
</section>
{% endblock content %}